@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 serif;
  margin: 0;
  padding: 0;
  font-family: Castoro, serif;
  font-family: Roboto, sans-serif;
}

.skip-links {
  position: absolute;
  top: -10em;
}

.skip-links a:focus {
  top: 0;
}

main {
  margin: 1rem;
}

.masthead,
.footer {
  background-color: #fff;
  color: #fff;
}

h2 {
  font-family: Castoro, serif;
  font-weight: 100;
}

.logo {
  display: block;
  width: 30%;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  align-items: center;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

nav a:hover {
  font-weight: bold;
  color: white;
  background-color: black;
  margin: .5em;
}

nav ul {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

nav {
  position: relative;
}

.bannermob {
  object-fit: cover;
  object-position: 100% 0;

  width: 300px;
  height: 210px;
}

.bannerfull {
  width: 100%;
  display: block;
  padding-top: .5em;
}

.bantext {
  color: #9cc;
  text-align: center;
  padding-bottom: .5em;
}

.artist {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #ebc897;
  border-radius: 2em;
  text-align: center;
}

.tay-text {
  padding: 0em 1em 1em;
  text-align: left;
}

.tay-pic {
  width: 100%;
  margin: 0em;
  padding: 0;
}

.h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;
}

.btn {
  border: solid 2px #000;
  background-color: #fff;
  padding: .5rem;
  text-align: center;
  transform: translateY(-50%);
}

.btn:hover {
  border: solid 2.5px;
  color: white;
  background-color: #d4a96e;
}

.safety {
  padding-top: 2em;
  display: grid;
}

.safety p {
  padding: .75rem 1rem 1rem;
}

.icon {
  width: 100%;
  display: block;
  padding: 0;
  position: relative;
}

.gallery h2 {
  text-align: center;
}

.gallery {
  text-align: center;
}

.gal {
  text-decoration: none;
  list-style-type: none;
  padding-top: 2em;
}

.galpic {
  width: 100%;
  margin-top: 0em;
}

.form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.form h2 {
  text-align: center;
}

.form h3 {
  text-align: center;
}

footer {
  background-color: white;
  overflow: hidden;
}

footer h2 {
  font-size: 2rem;
  display: block;
  text-align: center;
  margin: 0;
  color: black;
  padding-top: .75em;
}

footer .links {
  display: grid;
  justify-content: center;
  margin-bottom: 2em;
}

footer img {
  width: 33.3333%;
}

footer a {
  text-align: center;
  display: flex;
  color: black;
  font-size: 1rem;
  padding: .5em;
  text-decoration: underline;
}

footer a:hover {
  color: white;
  background-color: black;
  padding: .5em;
}

footer p {
  font-size: 1rem;
  text-align: center;
  color: black;
  padding-top: 1em;
}

.not {
  text-align: center;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 25em) {

  .head {
    align-items: center;
    width: 100%;
    padding: 0;
  }

  a {
    list-style-type: none;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
  }

  nav a:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  nav ul {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
  }

  nav {
    position: relative;
  }

  a .btn {
    text-align: center;
    padding-top: 2rem;
  }

  .btn {
    text-align: center;
  }

  .bannermob {
    display: none;
    width: 100%;
    position: absolute;
    object-fit: fill;
  }

  .banner {
    z-index: 1;
    width: 100%;
    display: block;
    padding: 0;
    position: absolute;
  }

  .bantext {
    position: absolute;
    z-index: 1;
    padding-right: 1rem;
    top: 20%;
    left: 70%;
    transform: translate(-20%, -20%);
    color: #9cc;
    font-size: 2.5rem;
  }

  .artist {
    margin-top: 15em;
  }

  h3 {
    text-align: center;
  }

  .safety {
    display: grid;
  }

  ul {
    list-style-type: none;
  }

  .not {
    text-align: center;
    padding-bottom: 2rem;
  }

  li a:hover {
    color: white;
    background-color: black;
  }

}

@media only screen and (min-width: 38em) {

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bantext {
    color: #9cc;
  }

  img .bannermob {
    z-index: 2;
  }

  img .bannerfull {
    z-index: 0;
    padding-top: 0;
  }

  .masthead {
    background: rgba(0, 0, 0, 0);
  }

  .logo {
    width: 100px;
    object-fit: fill;
    margin: 0;
  }

  nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }

  li a:hover {
    color: white;
    background-color: black;
    margin-right: 5em;
  }

  .banner {
    position: relative;
  }

  ul a {
    margin-right: 5em;
  }

  .artist {
    display: flex;
    margin: 0;
  }

  .safety {
    display: grid;
    grid-template-areas: ".mask-div .tool-div .sanitize-div";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .not {
    text-align: center;
    padding-bottom: 2rem;
  }

  .gall {
    display: grid;
    grid-template-areas: ".galpic .galpic";
    grid-template-columns: 1fr 1fr;
  }

  .gal {
    padding: 0;
  }

  .galpic {
    display: grid;
  }

  .form {
    align-items: center;
    display: grid;
    grid-template-areas: "unit unit";
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding-bottom: 2rem;
  }

  .unit {
    display: grid;
  }

}

@media only screen and (min-width: 60em) {

  .bantext {
    font-size: 5rem;
  }

  main {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .artist {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .tay-pic {
    width: 80%;
  }

  .tay-content {
    align-items: center;
  }

  h2 {
    text-align: center;
  }

  .gall {
    display: grid;
    grid-template-areas: ".galpic .galpic .galpic";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gal {
    padding: 0;
  }

  .galpic {
    display: grid;
  }

  .form {
    display: grid;
    grid-template-areas: "unit unit";
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding-bottom: 2rem;
  }

  .unit {
    display: grid;
  }

}

@media only screen and (min-width: 90em) {

  main {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .tay-pic {
    width: 50%;
  }

  .form {
    margin-left: 10rem;
    margin-right: 10rem;
  }

}
